:root {
    --gradient-start-color: #f6f0eb;    /* Background gradient */
    --gradient-end-color: #e3e0cf;
    --primaryTextColor: #442c18;
    --buttonBackground: #c2bb98;
    --accentColor: #8c8c8c;
}

